* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-size: 22px;
    line-height: 1.5;
}

img {
    max-width: 120%;
    height: auto;
}

a {
    color: red;
    text-decoration: underline;
}